<script setup lang="ts">
import { ref } from "vue";
</script>

<template>
  <v-parallax
    src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg"
  >
    <v-container>
      <h3 style="text-align: center">Portfolio</h3>
      <hr />
      <v-row justify="center">
        <v-col cols="2"
          ><v-img
            src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=64160235"
            max-width="400"
            max-height="250"
          >
          </v-img
        ></v-col>
      </v-row>
      <v-row>
        <v-col>
          <div style="text-align: center; font-size: 20px">
            <h5>นายคงเดช แสงกระจ่าง</h5>
          </div>
        </v-col>
      </v-row>
      <v-table theme="dark">
        <thead>
          <tr>
            <th class="text-left" style="font-size: 20px">ประวัติการศึกษา</th>
          </tr>
          <v-card-text
            ><tbody>
              <tr>
                <td>รหัสประจำตัว:</td>
                <td>64160235</td>
              </tr>
              <tr>
                <td>เลขที่บัตรประชาชน:</td>
                <td>1100401160952</td>
              </tr>
              <tr>
                <td>ชื่อ:</td>
                <td>นายคงเดช แสงกระจ่าง</td>
              </tr>
              <tr>
                <td>ชื่ออังกฤษ:</td>
                <td>MR. KHONGDET SAENGKRACHANG</td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
              <tr>
                <td>วิทยาเขต:</td>
                <td>บางแสน</td>
              </tr>
              <tr>
                <td>หลักสูตร:</td>
                <td>
                  2115025 วท.บ. (วิทยาการคอมพิวเตอร์) ปรับปรุง 64 - ป.ตรี 4 ปี
                  ปกติ
                </td>
              </tr>
              <tr>
                <td>ระดับการศึกษา:</td>
                <td>ปริญญาตรี</td>
              </tr>
              <tr>
                <td>ชื่อปริญญา::</td>
                <td>
                  วิทยาศาสตรบัณฑิต วท.บ. (วิทยาการคอมพิวเตอร์) ปรับปรุง 64 -
                  ป.ตรี 4 ปี ปกติ
                </td>
              </tr>
              <tr>
                <td>ปีการศึกษาที่เข้า:</td>
                <td>2564 / 1 วันที่ 10/6/2564</td>
              </tr>
              <tr>
                <td>วิธีรับเข้า:</td>
                <td>Admission กลาง</td>
              </tr>
              <tr>
                <td>วุฒิก่อนเข้ารับการศึกษา:</td>
                <td>ม.6 3.33</td>
              </tr>
              <tr>
                <td>จบการศึกษาจาก:</td>
                <td>วัดสุทธิวราราม</td>
              </tr>
            </tbody>
          </v-card-text>
          <v-card-title>สิ่งที่เราสนใจ</v-card-title>
          <v-card-text
            >มีความสนใจในการทำอาชีพโปรแกรมมิ่ง,การสร้างแอปพลิเคชัน
            และการสร้างเว็บไซต์ หรือสิ่งที่เกี่ยวกับเกมจะสนใจมากเลยครับ
            สิ่งที่สนใจมากๆคือการได้ทำงานร่วมกับชาวต่างชาติเพราะค่อนข้างชื่นชอบและมีความสนใจด้านภาษาจึงอยากฝึกในการทำงานกับต่างชาติเป็นพิเศษ
          </v-card-text>
        </thead>
      </v-table>
    </v-container>
  </v-parallax>
</template>
